.container {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.container main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.container main .subBox {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.container main .subBox p {
    margin: 0 5px;
}

.container main h3 {
    margin: 0;
}

.container main h4 {
    margin: 0;
}

.container img {
    border-radius: 300px;
    width: 300px;
}